
.uinn-pLt1{
	padding-top:5.3125em;
}
.uinn-pLb1{
	padding-bottom:0.7em;
}
.uwh-pL1{
	width:13.375em;
	height:3.6875em;
}
.logoBg2{
	background-image:url('bg.png');
}

.userImg{
	background-image:url('userImg.png');
}
.pwdImg{
	background-image:url('pwdImg.png');
}